.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#search {
  padding: 5px;
  width: 200px;
  max-width: 100%;
  margin-top: 10px;
}
